########################################################################
### ignore local configuration and framework
########################################################################

app

**/.ipynb_checkpoints

########################################################################
### ignore anything below
########################################################################

