
@import url(//fonts.googleapis.com/css?family=Rock+Salt);

body {
    font-family: 'Rock Salt' cursive;
}

h1 {
    text-align: center;
    font-size: 2em;
    color lightgray;
}

ul {
    margin: 0 30%;
}